.setup {
    padding-top: 80px;
}

.setup-header {
    font-weight: 600;
    font-size: 40px;
    text-align: center;
}

.setup-img img {
    width: 100%;
    margin: 30px 0px;
}

.setup-content {
    display: flex;
    justify-content: space-evenly;
}

.setup-content-block {
    width: 28%;
    line-height: 24px;
    font-size: 16px;
    text-align: justify;
}

.scb-title {
    font-weight: bold;
    margin-bottom: 8px;
}

.scb-desc {
    color: #717171;
}

@media only screen and (max-width: 1024px){
    .setup-content {
        flex-direction: column;
    }

    .setup-content-block {
        width: 100%;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width:768px){
    .setup-header {
        font-size: 30px;
        text-align: left;
    }
}

@media only screen and (max-width:425px){
    .setup-header {
        font-size: 26px;
    }
}