.footer {
    background-color: #f7f7f7;
    width: 86vw;
    margin-left: -7vw;
    padding: 80px 7vw;
    border-top: solid #dddddd 1px;
}

.footer1 {
    display: flex;
    justify-content: space-between;
}

.block-head {
    font-weight: 600;
    font-size: 15px;
    height: 40px;
}

.block-content {
    height: 40px;
    font-size: 14px;
}

.footer2 {
    border-top: solid #dddddd 1px;
    margin-top: 25px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

@media only screen and (max-width:768px){
    .footer1 {
        flex-direction: column;
        padding-bottom: 0px;
    }

    .f1-block{
        border-bottom: solid rgb(221 221 221) 1px;
        margin-bottom: 30px;
    }

    .f1-block:last-of-type {
        border-bottom: none;
        margin-bottom: 0;
    }

    .subitem-block {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 10px;
        padding-bottom: 5px;
    }

    .footer2 {
        margin-top: 10px;
    }
}

@media only screen and (max-width:768px){
    .subitem-block {
        display: flex;
        flex-direction: column;
    }
    
    .block-content {
        height: 25px;
    }
}