.navbar {
    height: 80px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 86%;
    z-index: 1;
    padding: 0px 7%;
    margin-left: -7%;
}

.logo {
    display: block;
    height: 32px;
    width: 32px;
    fill: #FF385C;
}

.navbar-items {
    display: flex;
    align-items: center;
    font-weight: 600;
}

.nav-btn {
    margin-left: 20px;
    height: 40px;
    line-height: 40px;
    padding: 5px 25px;
    background-color: #FF385C;
    border-radius: 8px;
    color: white;
    font-size: large;
    cursor: pointer;
}

@media only screen and (max-width:500px){
    .nav-text {
        display: none;
    }
}