.map-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  place-items: center;
  padding: 100px 0px 0px;
}
.map-box {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 10px;
  overflow: hidden;
  background-color: whitesmoke;
}
.map {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .map-section {
    grid-template-columns: 1fr;
  }
  .map-box {
    max-height: 400px;
  }
}
.map-info {
  height: calc(100% - 160px);
  width: 100%;
  text-align: center;
  padding: 80px 0px;
  /* background-color: red; */
}
.map-title {
  color: #ff385c;
  font-size: 48px;
  font-weight: 600;
}
.map-desc {
  font-size: 48px;
  font-weight: 600;
  margin-top: -10px;
}
.map-price {
  font-size: 68px;
  font-weight: 600;
}

@media only screen and (max-width: 425px) {
  .map-info {
    padding: 30px 0px 50px;
    height: calc(100% - 80px);
  }
  .map-desc,
  .map-title {
    font-size: 40px;
  }
  .map-price {
    font-size: 58px;
  }
}

.map-slider {
  padding: 20px 0px;
  margin-top: 20px;
}
.map-slider input {
  width: 100%;
  max-width: 400px;
  cursor: pointer;
  -webkit-appearance: none;
  height: 5px;
  border-radius: 10px;
  background-color: rgb(224, 224, 224);
}

.map-slider input::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: black; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;
}

.map-slider input::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04aa6d; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.map-nights{
    margin-top: 10px;
}
.night-count{
    font-weight: 600;
    text-decoration: underline;
}